<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Agile Data Science</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Bootstrap example in Agile Data Science, 2.0">
    <meta name="author" content="George Feng">

    <link href="../static/css/style.css" rel="stylesheet">

    <script src="../static/jquery-1.12.2.min.js"></script>
    <script src="../static/bootstrap.min.js"></script>
    <script src="../static/d3.v3.min.js"></script>
    
    <script src="https://unpkg.com/vue@2.4.4/dist/vue.js"></script>
  </head>
  <body>

<div id="root">
<input type="text" id="input" v-model="msg2">
<p>The value of the input is: [[msg2]].</p>
<ul>
  <li v-for="name in names" v-text="name"></li>  
  <li v-for="name in names">2: [[name]]</li>  
</ul>

foo: [[foo]] 
name: [[name]]
</div>

<script>
console.log('testing VueJS ...')

var app = new Vue({
	el: '#root',
	delimiters: ["[[", "]]"],
	
	data: {		
		message: 'hahah message ',
		msg2: 'another message',
		foo: 'bar',
		name: 'george',
		names: ['joe', 'ed', 'george' ]
	}
	
})
</script>

  </body>
</html>